section.faq
  .container 
    .faq__container 
      .faq__left 
        h2.heading.faq__heading Any questions? We got you.
        p.text.faq__desc Yet bed any for assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.
        a.faq__more(href="#!")
          span More FAQs
          i.fa-solid.fa-arrow-right
      .faq__right 
        ul.faq__list 
          li.faq__item 
            .faq__box 
              h4.faq__question Học CNTT có khó không?
              i.fa-solid.fa-angle-down.faq__icon
            .faq__answer 
              p.faq__text Học CNTT khó, muốn ngồi điều hòa lương cao thì lúc đi học phải chịu vất vả.
          li.faq__item 
            .faq__box 
              h4.faq__question Học CNTT có cần giỏi toán không?
              i.fa-solid.fa-angle-down.faq__icon
            .faq__answer 
              p.faq__text Có một câu gọi là cần cù bù khả năng, không phải nói để động viên đứa dốt mà điều này đúng sự thật. Nếu bạn giỏi toán thì việc học sẽ dễ dàng hơn vì toán luôn rèn cho ta tư duy logic, còn học lập trình thì rất cần tư duy, logic. Nếu không giỏi toán thì cũng không sao cả, trong 1 lớp học CNTT thì cũng chỉ xuất hiện 1,2 thành phần giỏi vượt trội, còn xuất phát điểm đầu vào như nhau thôi.
          li.faq__item 
            .faq__box 
              h4.faq__question Nên tập trung học trên trường hay vừa học vừa làm?
              i.fa-solid.fa-angle-down.faq__icon
            .faq__answer 
              p.faq__text Đương nhiên là vừa học vừa làm, ví dụ như ngành Y rất khó phải đào tạo từ 5-7 năm vì bạn phải thật sự giỏi, chính xác chuyên môn mới có thể thực hành thực tế, bạn không thể không may làm chết người rồi kêu họ sống lại được. Nhưng CNTT thì bạn có thể thử nghiệm kiến thức mình học được, sai thì sửa lỗi, hỏng dự án thì làm lại. Nên chẳng tội gì mà không vừa học vừa làm nhé!
          li.faq__item 
            .faq__box 
              h4.faq__question Doanh nghiệp có đào tạo kiến thức từ đầu không?
              i.fa-solid.fa-angle-down.faq__icon
            .faq__answer 
              p.faq__text Bạn có trả tiền cho người ta dạy lại bạn không? Bạn không trả vì sao bắt họ dạy bạn từ đầu. Cái sự thật về đào tạo lại từ đầu chính là bạn đã có 1 nền tảng sẵn rồi, mà mỗi công ty đều có một cách xây dựng hệ thống, mô hình làm việc khác nhau, họ sẽ cho bạn trải nghiệm từ đầu bằng cách dạy bạn thích ứng, chứ chẳng ai dạy lại code từ đầu nhé. Ở trường bạn học 4 năm nhưng ở doanh nghiệp bạn chỉ được sử dụng tối đa 3 tháng học để có thể làm được việc, vì thế muốn khi đi làm ít nhất ra trường bạn cũng phải có kiến thức.
