section.feature 
  .container 
    .feature--top 
      .feature--top__content 
        h2.heading.feature--top__heading Get thousands of active followers
        p.text.feature--top__desc Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.
        .feature--top__box 
          a.btn.btn-primary.feature--top__button(href="#!") Start Free
          .curve
            img(src="./images/curve.png", alt="")

      .feature--top__image
        img(src="./images/feature-1.png", alt="", draggable="false")

    .feature--bottom 
      .feature--bottom__image
        img(src="./images/feature-2.png", alt="", draggable="false")
      .feature--bottom__content 
        h2.heading.feature--bottom__heading Daily active users on social media
        p.text.feature--bottom__desc Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.
        .feature--bottom__box 
          a.btn.btn-primary.feature--bottom__button(href="#!") Start Free
          .curve
            img(src="./images/curve.png", alt="")
