.toggle 
  input#checkbox.toggle__input(type="checkbox")
  label.toggle__label(for="checkbox")
    .toggle__slider 
button.scroll__top
  i.fa-solid.fa-angle-up
.loading
  .loading__inner
    div 
    div 
    div 
    div 
