footer.footer 
  .footer__top
    .container 
      .footer__cta 
        h2.footer__heading
          span Join millions of
          span creative people with Shakir
        a.footer__button(href="#!")
          span Join The Waitlist
          i.fa-solid.fa-arrow-right
  .footer__mid
    .container 
      .footer__content
        .footer__left 
          a.footer__logo(href="#!") hungpidev
          p.footer__desc Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.
        .footer__right 
          .footer__column 
            h4.footer__title Company
            ul.footer__list 
              li.footer__item 
                a.footer__link(href="#!") About Us
              li.footer__item 
                a.footer__link(href="#!") Careers
              li.footer__item 
                a.footer__link(href="#!") Blog
              li.footer__item 
                a.footer__link(href="#!") Pricing
          .footer__column 
            h4.footer__title Product
            ul.footer__list 
              li.footer__item 
                a.footer__link(href="#!") Facebook Followers
              li.footer__item 
                a.footer__link(href="#!") Instagram Followers
              li.footer__item 
                a.footer__link(href="#!") Twitter Followers
              li.footer__item 
                a.footer__link(href="#!") TikTok Followers
          .footer__column 
            h4.footer__title Resources
            ul.footer__list 
              li.footer__item 
                a.footer__link(href="#!") Proposal Template
              li.footer__item 
                a.footer__link(href="#!") Invoices
              li.footer__item 
                a.footer__link(href="#!") Tuturoial
              li.footer__item 
                a.footer__link(href="#!") How to increase activity
  .footer__bottom 
    .container
      .footer--copyright
        p.text-small 2022 Hungpidev Inc. All rights reserved. -- Privacy Policy - Terms of Services
        p.text-small Supported by
          span.footer--support &nbsp;Microsoft Startup
