header.header 
  .container 
    .header__container
      .header__logo 
        a(href="") hungpidev
      ul.menu 
        li.menu__item 
          a#home.menu__link.active
            span Home
        li.menu__item 
          a#service.menu__link 
            span Service
        li.menu__item 
          a#testimonial.menu__link 
            span Testimonials
        li.menu__item 
          a#about.menu__link
            span About
        .header__auth 
          a.btn.header__signup(href="#!") Sign In
          a.header__start(href="#!") 
            span Start Free
      i.fa-solid.fa-bars.header__toggle
