section.hero 
  .container 
    .hero__container 
      .hero__content 
        h1.hero__heading Increase your followers on social media
        p.text.hero__desc Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way everything joy alteration boisterous the attachment.
        a.btn.btn-primary.hero__button(href="#!") 
          span Get Started
          i.fa-solid.fa-arrow-right-long
        .hero--proof 
          .hero--proof__people 
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-1.jpg", draggable="false")
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-2.jpg", draggable="false")
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-3.jpg", draggable="false")
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-5.jpg", draggable="false")
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-6.jpg", draggable="false")
            .hero--proof__box 
              .hero--proof__image 
                img(src="./images/person-7.jpg", draggable="false")
            .hero--proof__box
              .hero--proof__amount 
                span 12k+
          p.text.hero--proof__desc 12,000+ people already joined the arshakir’ increase followers plan. Get started today!
      .hero__image
        img(src="./images/hero.png", alt="")
