.partner 
  .container 
    p.text.partner__desc Trusted By Over 100+ Startups and freelance business
    ul.partner__list 
      li.partner__item
        img(src="./images/partner-1.png", draggable="false")
      li.partner__item
        img(src="./images/partner-2.png", draggable="false")
      li.partner__item
        img(src="./images/partner-3.png", draggable="false")
      li.partner__item
        img(src="./images/partner-4.png", draggable="false")
      li.partner__item
        img(src="./images/partner-5.png", draggable="false")
      li.partner__item
        img(src="./images/partner-6.png", draggable="false")
      li.partner__item
        img(src="./images/partner-7.png", draggable="false")
