section.testimonial
  .container 
    .testimonial__box 
      p.text.testimonial__title Testimonial
      h2.heading.testimonial__heading What Our Happy User Says
    ul.testimonial__list
      li.testimonial__item 
        .testimonial__icon 
          img(src="./images/icon-tt.png", alt="", draggable="false")
        .testimonial__rating 
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
        p.text.testimonial__desc Khóa học cực chi tiết, videos học thì nhiều quá trời nhiều, các bạn mới bước chân vào lập trình web nhất định phải xem qua khóa này.
        .testimonial__info 
          .testimonial__image 
            img(src="./images/person-1.jpg", alt="", draggable="false")
          .testimonial__right 
            .testimonial__name Nguyễn Thị Thảo Ly
            .testimonial__job Hoa Hậu

      li.testimonial__item 
        .testimonial__icon 
          img(src="./images/icon-tt.png", alt="", draggable="false")
        .testimonial__rating 
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
        p.text.testimonial__desc Cảm ơn anh vì đã tạo ra khóa học bổ ích này. Những gì học ở trường chỉ là những thứ cơ bản ít vận dụng được.
        .testimonial__info 
          .testimonial__image 
            img(src="./images/person-2.jpg", alt="", draggable="false")
          .testimonial__right 
            .testimonial__name Nguyễn Trà My
            .testimonial__job Người Mẫu

      li.testimonial__item 
        .testimonial__icon 
          img(src="./images/icon-tt.png", alt="", draggable="false")
        .testimonial__rating 
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
        p.text.testimonial__desc Mình rất bị ấn tượng bởi cấu trúc bài học, rất chi tiết, và sắp xếp khoa học. Khóa học có đủ cả lý thuyết và thực hành ngay sau đó.
        .testimonial__info 
          .testimonial__image 
            img(src="./images/person-3.jpg", alt="", draggable="false")
          .testimonial__right 
            .testimonial__name Vũ Huỳnh Thảo Vy
            .testimonial__job Sinh Viên

      li.testimonial__item 
        .testimonial__icon 
          img(src="./images/icon-tt.png", alt="", draggable="false")
        .testimonial__rating 
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
          img(src="./images/Star.png", alt="", draggable="false")
        p.text.testimonial__desc Nội dung tóm tắt nội dung cần học cụ thể dễ hiểu dễ nắm kiến thức, kiến thức trọng tâm, không lan man, thú vị
        .testimonial__info 
          .testimonial__image 
            img(src="./images/person-4.jpg", alt="", draggable="false")
          .testimonial__right 
            .testimonial__name Lưu Gia Linh
            .testimonial__job Sugar Baby
