.header {
  --fontsize-header: 24rem;
  padding: 15rem 0;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-bgc);

  &__container {
    @include flexBox(center, stretch);
  }

  &__logo {
    a {
      font-weight: 900;
      font-size: var(--fontsize-header);
      text-transform: uppercase;
      color: var(--text-color);
    }
  }

  &__auth {
    @include flexBox(center, stretch);
    gap: 20rem;
    margin-left: 100rem;
  }

  &__signup {
    padding: 8rem 20rem;
    position: relative;
    border-radius: 0;
    transition: 0.3s linear;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      transition: 0.5s;
      bottom: -6rem;
      right: -6rem;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      transition: 0.5s;
      top: -6rem;
      left: -6rem;
      border-top: 3px solid transparent;
      border-left: 3px solid transparent;
    }

    &:hover {

      &::before,
      &::after {
        width: calc(100% + 12rem);
        height: calc(100% + 12rem);
        border-color: var(--btn-color);
      }
    }
  }

  &__start {
    margin-left: -4rem;
    position: relative;
    padding: 4rem;
    display: inline-block;
    background-color: transparent;

    &:hover {
      &::before {
        width: 100%;
        height: 96%;
        opacity: 1;
        transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;
      }

      &::after {
        width: 100%;
        height: 96%;
        opacity: 1;
        transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out,
          opacity 0s 0.3s;
      }
    }

    span {
      display: inline-block;
      position: relative;
      color: #ffffff;
      background-color: var(--btn-color);
      font-size: 16rem;
      font-weight: bold;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10rem 20rem;
      text-align: center;
      transition: 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      top: 0;
      right: 0;
      border-top: 3px solid var(--btn-color);
      border-left: 3px solid var(--btn-color);
      transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear,
        opacity 0s 0.7s;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid var(--btn-color);
      border-right: 3px solid var(--btn-color);
      width: 0;
      height: 0;
      opacity: 0;
      background-color: transparent;
      z-index: 2;
      transition: width 0.2s 0.15s linear, height 0.15s ease-in,
        opacity 0s 0.35s;
    }
  }

  &__toggle {
    margin-left: auto;
    display: none;
    color: var(--text-color);
  }
}

.menu {
  list-style: none;
  margin-left: auto;
  @include flexBox(center, stretch);

  &__item {
    padding: 0 28rem;
    cursor: pointer;
  }

  &__link {
    font-size: 18rem;
    font-weight: 600;
    line-height: 20rem;
    color: var(--text-color);
    position: relative;
    transition: 0.25s linear;

    &.active {
      color: #ff4203;
    }

    &:active {
      opacity: 0.2;
    }

    &:hover {
      color: #ff4203;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .header {
    &__auth {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20rem;
      margin-left: 0;
      margin-top: 20rem;
    }

    &__toggle {
      display: block;
      font-size: var(--fontsize-header);
      cursor: pointer;
    }
  }

  .menu {
    gap: 0;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300rem;
    flex-direction: column;
    background-color: var(--menu);
    z-index: 99999;
    align-items: stretch;
    transition: all 0.2s linear;
    transform: translateX(100%);

    &.is-show {
      transform: translateX(0);
    }

    &__item {
      padding: 0;
    }

    &__link {
      @include flexBox(center, stretch);
      padding: 20rem;

      &.active {
        color: var(--text-color);
      }

      &:active {
        opacity: 1;
      }

      &::before {
        display: none;
      }

      &:hover {
        background-color: var(--btn-color);
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 479.98px) {
  .menu {
    width: 200rem;

    &__link {
      padding: 15rem;
    }
  }

  .header {
    --fontsize-header: 18rem;
  }
}